.sheet.offers
    min-height: 40vh;
    font-size: 1em
    .sheet__title
        color: #bd1220
        font-weight: bold
        font-size: 1.8em
    .no__offer
        padding: 1em
    #offer__infos
        text-align: center
    .card__offers
        margin: 1em auto
        max-width: 900px
        padding: 1em
        background-color: #e9ecef
        h2
            font-size: 1.5em
            font-weight: bold
            text-align: center
            color: #1e2936
            margin-bottom: 1em
        p
            color: #000000
            line-height: 1.5em
        
@media (min-width: 900px)
    .sheet.offers
        font-size: 1.5em