.sheet.about
    .sheet__lead
        color: #bd1220
        font-size: 1.2em
    .sheet__body
        margin-top: 1em
        line-height: 1.6
@media (min-width: 900px)
    .sheet.about
        padding: 10px 0px
        font-size: 1.5em
        .sheet__title,.sheet__lead
            padding: 0 40px
        .wrapper-about
            .sheet__gallery
                width: 60%
                margin: 0 auto
                padding-right: 1em
                float: left
            @media (min-width: 1200px)
                .sheet__body
                    font-size: 1.3em
// @media (min-width: 1400px)
//     .wrapper-about
//         width: 1400px
//         margin: 0 auto
