.sidebar__title
  margin-bottom: 20px

  a
    font-size: 24px
    text-transform: uppercase
    font-weight: bold
    text-decoration: none
    color: $dark-body-color
    transition: all .5s
    border-bottom: solid 3px transparent

    &:hover
      border-color: $dark-body-color

.sidebar__intro
  color: #444
  font-size: 16px
  margin-bottom: 20px

  p
    margin-bottom: 10px

    &:last-child
      margin-bottom: 0

.sidebar__menu
  margin-bottom: 5px
  display: flex
  flex-direction: row
  margin: 0 auto
  width: fit-content

  li
    margin: 5px 10px 5px 0
    a
      background-color: black
      border-radius: 8px
      padding: .4em .7em
      border: 2px solid #999
      text-decoration: none
      display: block
      color: white
      position: relative
      transition: all .5s

      &:hover
        border-color: #fff

    &.is-active a
      font-weight: bold
      color: $active-color

.sidebar__social
  text-align: center
  margin-bottom: 10px
  .social
    margin: 0 1em

.sidebar__copyright
  color: #666
  font-size: 13px
  text-align: center
  margin: 1em

@media (min-width: 900px) and (min-height: 500px)
  .sidebar__menu
    background-color: #bd1220
    padding: .5em 0
    border-radius: 8px
    li
      margin: 0 2em
      a
        font-size: 1.1em
  .sidebar__title
    a
      font-size: 30px
  .sidebar__intro
    font-size: 20px
  .sidebar__copyright
    font-size: 16px

.links-utils
  display: block
  margin: -1em auto 1em
  a
    color: #666
    display: block
    width: fit-content
    margin: 0 auto
    font-size: .9em
