.social
  display: inline-block
  width: 40px
  height: 40px
  vertical-align: middle
  border: 1px solid $border-color
  border-radius: 50%
  background-position: 50% 50%
  background-size: 40%
  background-repeat: no-repeat
  margin-bottom: 10px

.social--facebook
  background-image: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/facebook-f.svg')
  &:hover
    background-color: #fff

.social--email
  background-image: url('https://cdn.rawgit.com/encharm/Font-Awesome-SVG-PNG/master/black/svg/envelope.svg')
  &:hover
    background-color: #fff

@media screen and (min-width: 900px)
  .social
    width: 50px
    height: 50px
